@import "../../styles/colors.less";

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 8%;
  display: flex;
  align-items: center;
  background-color: @header-background;
  color: @header-font-white;
  font-weight: 600;
  img {
    margin: 0 2%;
    width: 5%;
  }
  .menu {
    flex: 1;
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      gap: 2rem;
      li {
        a {
          color: @header-font-white;
          text-decoration: none;
          &:hover {
            cursor: pointer;
            color: @font-hover;
          }
        }
      }
    }
  }
  #twitter-logo {
    height: 40px;
    margin: 0 8px;
    &:hover {
      opacity: 0.8;
    }
  }
  #youtube-logo {
    height: 40px;
    margin: 0 16px;
    &:hover {
      opacity: 0.8;
    }
  }
}
