@import "../../shared/styles/colors.less";
@import "../../shared/styles/mediaQuery.less";
.malls {
  min-height: 100vh;
  background: @main-background;
  text-align: center;
  h1 {
    padding-top: 2%;
  }
  .malls-cards {
    display: flex;
    justify-content: center;
    > a {
      flex: 1;
      min-height: 300px;
      display: grid;
      //center itens
      justify-content: center;
      text-align: center;
      margin: 0 2%;
      // border: 1px dotted @background-navbar;
      border-radius: 2%;
      background: @background-default-white;
      align-items: center;
      padding: 1%;
      &:hover {
        cursor: pointer;
      }
      &.mall-1 {
        background: @gaviao-background;
      }
      &.mall-2 {
        background: @goiana-background;
      }
      &.mall-3 {
        background: @atacadao-background;
      }
      img {
        width: 100%;
        height: auto;
      }
      @media @tablet-m {
        margin: 0 5% 5% 5%;
      }
      @media @phone {
        margin: 0 5% 5% 5%;
      }
    }
    @media @tablet-m {
      flex-direction: column;
    }
    @media @phone {
      flex-direction: column;
    }
  }
  @media @mobile {
    padding-top: 10vh;
    overflow-x: hidden;
  }
}
