<app-header></app-header>
<main class="productList">
  <ul>
    <li *ngFor="let product of products">
      <div class="product">
        <div class="product-image">
          <img src="{{ product.image }}" alt="" />
        </div>
        <div class="product-info">
          <div class="product-title">
            {{ product.name }}
          </div>
          <div class="product-price">
            {{ product.price }}
          </div>
          <div class="product-rating">
            <span class="product-rating-number">{{ product.rating }}</span>
            <span
              *ngFor="let number of counter(product.rating)"
              class="product-rating-stars"
            >
              <mat-icon *ngIf="number <= product.rating"> star</mat-icon>
              <mat-icon *ngIf="number === 6"> star_half</mat-icon>
              <!-- <p>{{ number }}</p> -->
              <!-- <mat-icon *ngIf="product.rating >= 5">star_half</mat-icon> -->
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</main>
<app-footer></app-footer>
