<div class="suggested">
  <app-sidebar class="app-sidebar"></app-sidebar>
  <main>
    <!-- create search bar -->
    <div class="search-bar">
      <!-- Create a input and pass it onchange value to a function -->
      <input
        #search
        type="text"
        placeholder="Procure um produto..."
        (keyup.enter)="searchProducts(search.value)"
        (blur)="searchProducts(search.value)"
      />
      <!-- blur save the state of input value in case the user clicks elsewhere -->

      <button class="search-button">
        <mat-icon> search </mat-icon>
      </button>
    </div>
    <!-- show no products ngif -->
    <div
      class="no-products"
      *ngIf="filteredProducts.length === 0; else productsList"
      [@fadeInOut]
    >
      <h2>Nenhum produto encontrado</h2>
    </div>
    <ng-template #productsList>
      <div class="suggested-header">
        <div mdbDropdown class="dropdown">
          <button class="dropdown-button" type="button" mdbDropdownToggle>
            <h3>{{ sortType }}</h3>
            <mat-icon>{{ arrow }}</mat-icon>
          </button>

          <!-- prettier-ignore -->
          <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li (click)="sortByName('asc')">Alfabética (A-Z)</li>
            <li (click)="sortByName('dsc')">Alfabética (Z-A)</li>
            <li (click)="sortByPrice('asc')">Menor Preço</li>
            <li (click)="sortByPrice('dsc')">Maior Preço</li>
          </ul>
        </div>
        <h1 *ngIf="checkFilteredTags(showProducts)">{{ tagsSelected[0] }}</h1>
        <h1 *ngIf="!checkFilteredTags(showProducts)">Todos os produtos</h1>
      </div>
      <ul>
        <li
          class="product"
          *ngFor="let product of filteredProducts"
          [@fadeInOut]
        >
          <!-- prettier-ignore -->
          <img *ngIf="product.mall === 'gaviao'" class="logo" 
          src="//img.sitemercado.com.br/redes/ba64b614349e1d50f305169ae11d72de.png"/>
          <!-- prettier-ignore -->
          <img *ngIf="product.mall === 'atacadao'" class="logo atacadao" 
          src="https://static.cotabest.com.br/img/atacadao/brand/logo.svg"/>
          <!-- prettier-ignore -->
          <img *ngIf="product.mall === 'goiana'" class="logo goiana"
            src="assets\images\goiana_logo.jpg"/>
          <img src="{{ product.img }}" alt="" />
          <span> {{ product.name }}</span>
          <span>R$ {{ product.price }}</span>
          <div class="product-rating-stars">
            <span
              *ngFor="let number of counter(product.rating)"
              title="{{ product.rating }}"
            >
              <mat-icon *ngIf="number <= product.rating; else half_star">
                star
              </mat-icon>
              <ng-template #half_star>
                <mat-icon #half_star *ngIf="number === 6"> star_half</mat-icon>
              </ng-template>
            </span>
          </div>
        </li>
      </ul>
    </ng-template>
  </main>
</div>
