@import "../../shared/styles/colors.less";
@import "../../shared/styles/mediaQuery.less";
.suggested {
  display: flex;
  margin-left: 1%;
  h1 {
    text-align: left;
    color: @font-default-black;
    margin-left: 2%;
  }
  .search-bar{
    // center the div
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-top: 1%;
    height: 2rem;
    width: 100%;
    input{
      height:100%;
      flex: 1;
    }

    .search-button{
      margin-left: 1%;
      margin-right: 1%;
      background-color: @font-default-white;
      color: @font-default-black;
      border: 1px solid @border-default-black;
      border-radius: 0.5rem;
      padding: 1%;
      font-size: 1.2em;
      font-weight: bold;
      &:hover{
        background-color: @background-default-black;
        color: @font-default-white;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    // margin-left: -5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    @media @phone {
      grid-template-columns: 50% 50%;
      margin-left: 2%;
    }
    @media @tablet {
      grid-template-columns: 33.33% 33.33% 33.33%;
    }
    li {
      display: grid;
      //center itens
      justify-content: center;
      text-align: center;

      margin-bottom: 5%;
      margin-right: 5%;
      // border: 1px dotted @background-navbar;
      border-radius: 2%;
      img {
        object-fit: cover;
        width: 100%;
      }
      .product-rating-stars {
        display: flex;
        justify-content: center;
      }
    }
  }
}
