@header-background: #000000cb;
@header-font-white: #ffffff;
@icon-white: white;

@sidebar-background: #000000cb;
@sidebar-background-end: #2a2e33;

@main-background: hwb(216 92% 6% / 0.85);
@main-border: rgba(160, 160, 160, 0.7);
@main-star: #e7e077;

@gaviao-background: #e6a7a5;
@goiana-background: #bdcfff;
@atacadao-background: #b4efc2;

@footer-background: #000000ee;
@footer-font-header: rgba(255, 255, 255, 0.7);
@footer-font-default: rgba(255, 255, 255, 0.5);

@font-default-black: #000000;
@font-default-white: #ffffff;
@font-hover: #e4de87;
@font-heading-default: #573b96;
@border-default-black: #000000;
@border-default-white: #ffffff;
@background-default-black: #000000;
@background-default-white: #ffffff;
