@import "../../shared/styles/colors.less";
@import "../../shared/styles/mediaQuery.less";

.sidebar {
  background: linear-gradient(to top, @sidebar-background-end, @sidebar-background);
  color: @font-default-white;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  .category {
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom-color: whitesmoke;
      cursor: pointer;
    }
  }
  .category-mobile {
    display: none;
    color: @font-default-black;
  }
  h4 {
    margin: 1rem 1rem 0 0;
  }
  h2 {
    text-align: center;
  }
  @media @mobile {
    position: absolute;
    padding: 0;
    transition: 1s;
    background: transparent;
    color: @font-default-black;

    h2 {
      display: none;
    }
    .category {
      display: none;
    }
    .category-mobile {
      display: flex;
      justify-content: flex-end;
    }
    &.open {
      width: 100vw;
      transition: 1s;
      background: linear-gradient(to top, @sidebar-background-end, @sidebar-background);
      color: @font-default-white;
      text-align: center;

      h2 {
        display: inherit;
      }
      .category {
        display: inherit;
      }
      .category-mobile {
        color: @font-default-white;
        margin-bottom: 24vh;
        margin-top: 2vh;
        transform: translate(0vw, 2vh);
        padding-right: 2%;
      }
    }
  }
  @media @tablet-l {
    width: 6rem;
    .category-mobile {
      transform: translate(8.5rem, 7.5rem);
    }
  }
  @media @tablet-m {
    width: 6rem;
    .category-mobile {
      transform: translate(7rem, 7rem);
    }
  }
  @media @phone {
    width: 6rem;
    .category-mobile {
      transform: translate(2rem, 9.5rem);
    }
  }
}
